.nav{
    background-color: #de8d13;
    font-size: large;
    padding: 1rem;
    margin-left: 2px;
}
.nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
}
li{

    margin-left: 10px;
    height: 10px;
    display:inline-block;
    

}
.body{
    background-color: rgb(90, 163, 39);
}
section{
    background-color: rgb(208, 223, 223);
    height: 450px;
}
.about-section{
background-color: rgb(156, 139, 54);
    height: 450px;
}